<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
  <form action="/" method="get">
    <table class="table table-striped aligned-table">
      <thead>
      <tr>
        <th>Заголовок</th>
        <th>Бренд</th>
        <th>Память</th>
        <th>ОЗУ</th>
        <th>Цена</th>
        <th>Сортировка</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input type="text"
                 name="title"
                 class="form-control"
                 th:value="${selectedTitle}"
                 placeholder="Поиск по заголовку"/>
        </td>
        <td>
          <select name="brandName" class="form-control">
            <option value="" th:selected="${selectedBrand == null}">Все</option>
            <option th:each="brand : ${allSmartphoneBrandNames}"
                    th:value="${brand}"
                    th:text="${brand}"
                    th:selected="${brand == selectedBrand}">
            </option>
          </select>
        </td>
        <td>
          <select name="memory" class="form-control">
            <option value="" th:selected="${selectedMemory == null}">Все</option>
            <option th:each="memory : ${allSmartphoneMemories}"
                    th:value="${memory}"
                    th:text="${memory}"
                    th:selected="${memory == selectedMemory}">
            </option>
          </select>
        </td>
        <td>
          <select name="ram" class="form-control">
            <option value="" th:selected="${selectedRam == null}">Все</option>
            <option th:each="ram : ${allSmartphoneRams}"
                    th:value="${ram}"
                    th:text="${ram}"
                    th:selected="${ram == selectedRam}">
            </option>
          </select>
        </td>
        <td>
          <select name="priceRange" class="form-control">
            <option value="" th:selected="${selectedPriceRange == null}">Все</option>
            <option value="0-200000" th:selected="${selectedPriceRange == '0-200000'}">До 200 000 ₸</option>
            <option value="200000-500000" th:selected="${selectedPriceRange == '200000-500000'}">200 000 ₸ - 500 000 ₸</option>
            <option value="500000-800000" th:selected="${selectedPriceRange == '500000-800000'}">500 000 ₸ - 800 000 ₸</option>
            <option value="800000-999999999" th:selected="${selectedPriceRange == '800000-999999999'}">От 800 000 ₸</option>
          </select>
        </td>

        <td>
        <select name="sortField" class="form-control">
          <option th:each="option : ${sortOptions}"
                  th:value="${option.field}"
                  th:text="${option.label}"
                  th:selected="${option.field == selectedSortField}">
          </option>
        </select>
        </td>
        <td>
        <select name="sortDirection" class="form-control">
          <option th:each="direction : ${sortDirections}"
                  th:value="${direction.key}"
                  th:text="${direction.value}"
                  th:selected="${direction.key == selectedSortDirection}">
          </option>
        </select>
        </td>

        <td>
          <button class="btn btn-primary">Применить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

  <a th:text="'В общем найдено ' + ${smartphonePage.getTotalElements()} + ' смартфонов | '"></a><a th:text="'На этой странице ' + ${smartphonePage.getNumberOfElements()} + ' смартфонов'"></a>

  <table class="table table-striped aligned-table">
    <thead>
    <tr>
      <th>Заголовок</th>
      <th>Бренд</th>
      <th>Память</th>
      <th>ОЗУ</th>
      <th>Цена</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="smartphone : ${smartphonePage.getContent()}">
      <td th:text="${smartphone.title}"></td>
      <td th:text="${smartphone.brand.name}"></td>
      <td th:text="${smartphone.memory}"></td>
      <td th:text="${smartphone.ram}"></td>
      <td th:text="${smartphone.price}"></td>
    </tr>

    </tbody>
  </table>

  <div class="pagination">
    <ul>
      <!-- Previous button -->
      <li th:if="${smartphonePage.hasPrevious()}">
        <a th:href="@{/(
        page=${smartphonePage.number - 1},
        size=${smartphonePage.size},
        title=${selectedTitle},
        brandName=${selectedBrand},
        memory=${selectedMemory},
        ram=${selectedRam},
        priceRange=${selectedPriceRange},
        sortField=${selectedSortField},
        sortDirection=${selectedSortDirection}
        )}">Предыдущая</a>
      </li>

      <!-- Первая страница, только если текущая страница больше 1 -->
      <li th:if="${smartphonePage.number > 1}">
        <a th:href="@{/(
        page=0, size=${smartphonePage.size},
        title=${selectedTitle},
        brandName=${selectedBrand},
        memory=${selectedMemory},
        ram=${selectedRam},
        priceRange=${selectedPriceRange},
        sortField=${selectedSortField},
        sortDirection=${selectedSortDirection}
        )}">1</a>
      </li>

      <!-- Многоточие перед текущей страницей, если она больше 2 -->
      <li th:if="${smartphonePage.number > 2}">
        <span>...</span>
      </li>

      <!-- Отображение текущей страницы и трех следующих -->
      <li th:each="i : ${#numbers.sequence(smartphonePage.number, (smartphonePage.totalPages - 1 < smartphonePage.number + 3 ? smartphonePage.totalPages - 1 : smartphonePage.number + 3))}">
        <a th:if="${i != smartphonePage.number}"
           th:href="@{/(
            page=${i},
            size=${smartphonePage.size},
            title=${selectedTitle},
            brandName=${selectedBrand},
            memory=${selectedMemory},
            ram=${selectedRam},
            priceRange=${selectedPriceRange},
            sortField=${selectedSortField},
            sortDirection=${selectedSortDirection}
           )}"
           th:text="${i + 1}">1</a>
        <span th:if="${i == smartphonePage.number}" th:text="${i + 1}" class="active">1</span>
      </li>

      <!-- Многоточие после текущей страницы, если дальше есть страницы кроме последней -->
      <li th:if="${smartphonePage.number + 3 < smartphonePage.totalPages - 2}">
        <span>...</span>
      </li>

      <!-- Последняя страница, если она не входит в показанные -->
      <li th:if="${smartphonePage.number + 3 < smartphonePage.totalPages - 1}">
        <a th:href="@{/(
        page=${smartphonePage.totalPages - 1},
        size=${smartphonePage.size},
        title=${selectedTitle},
        brandName=${selectedBrand},
        memory=${selectedMemory},
        ram=${selectedRam},
        priceRange=${selectedPriceRange},
        sortField=${selectedSortField},
        sortDirection=${selectedSortDirection}
        )}"
           th:text="${smartphonePage.totalPages}">1</a>
      </li>

      <!-- Next button -->
      <li th:if="${smartphonePage.hasNext()}">
        <a th:href="@{/(
        page=${smartphonePage.number + 1},
        size=${smartphonePage.size},
        title=${selectedTitle},
        brandName=${selectedBrand},
        memory=${selectedMemory},
        ram=${selectedRam},
        priceRange=${selectedPriceRange},
        sortField=${selectedSortField},
        sortDirection=${selectedSortDirection}
        )}">Следующая</a>
      </li>
    </ul>
  </div>



</div>
</body>
</html>